[Desktop Entry]
Name=LDAP
Name[sr]=ЛДАП
Name[th]=ระบบ LDAP
Name[x-test]=xxLDAPxx
Comment=Provides access to contacts stored on a LDAP directory server
Comment[ca]=Proporciona l'accés als contactes emmagatzemats en un servidor de directori LDAP
Comment[el]=Προσφέρει πρόσβαση σε επαφές, αποθηκευμένες σε έναν εξυπηρετητή καταλόγου LDAP
Comment[es]=Provee acceso a los contactos almacenados en un servidor de directorios LDAP
Comment[fr]=Fourni l'accès aux contacts stockés dans un annuaire LDAP
Comment[gl]=Dá aceso a contactos gardados nun servidor de directorio LDAP
Comment[it]=Fornisce accesso a contatti memorizzati su un server LDAP
Comment[ja]=LDAP ディレクトリサーバに保存されている連絡先へのアクセスを提供します。
Comment[km]=ផ្ដល់​ការ​ចូលដំណើរការ​ទៅ​ទំនាក់ទំនង​ដែល​បានផ្ទុក​នៅ​លើ​ម៉ាស៊ីន​បម្រើ​ថត LDAP
Comment[nb]=Gir tilgang til kontakter lagret på en LDAP-katalogtjener
Comment[nds]=Stellt Togriep op Kontakten praat, de op en LDAP-Vertelenserver wohrt warrt
Comment[pt]=Oferece o acesso aos contactos guardados num servidor de directório LDAP
Comment[pt_BR]=Fornece acesso aos contatos armazenados em um servidor de pastas LDAP
Comment[sv]=Ger tillgång till kontakter lagrade på en LDAP-katalogserver
Comment[uk]=Надає доступ до контактів, які зберігаються на сервері каталогів LDAP
Comment[x-test]=xxProvides access to contacts stored on a LDAP directory serverxx
Comment[zh_TW]=提供存取儲存在 LDAP 目錄伺服器上的聯絡人的功能
X-KDE-Library=kabc_ldapkio
Type=Service
X-KDE-ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=contact
X-KDE-ResourceType=ldapkio
