[Desktop Entry]
Name=LDAP
Name[hne]=एलडीएपी
Name[sr]=ЛДАП
Name[th]=ระบบ LDAP
Name[x-test]=xxLDAPxx
Comment=Provides access to contacts stored on a LDAP directory server
Comment[ca]=Proporciona l'accés als contactes emmagatzemats en un servidor de directori LDAP
Comment[da]=Giver adgang til kontakter lagret på en LDAP directory-server
Comment[de]=Ermöglicht Zugriff auf Kontakte, die auf einem LDAP-Server gespeichert sind.
Comment[el]=Προσφέρει πρόσβαση σε επαφές, αποθηκευμένες σε έναν εξυπηρετητή καταλόγου LDAP
Comment[es]=Provee acceso a los contactos almacenados en un servidor de directorios LDAP
Comment[et]=Võimaldab kasutada LDAP kataloogiserverisse salvestatud kontakte
Comment[fr]=Fourni l'accès aux contacts stockés dans un annuaire LDAP
Comment[ga]=Soláthraíonn sé seo rochtain ar theagmhálacha atá stóráilte in eolaire LDAP
Comment[gl]=Dá acceso a contactos gardados nun servidor de directorio LDAP
Comment[hu]=LDAP címtárkiszolgálókon tárolt névjegyek elérését biztosítja.
Comment[it]=Fornisce accesso a contatti memorizzati su un server LDAP
Comment[ja]=LDAP ディレクトリサーバに保存されている連絡先へのアクセスを提供します。
Comment[km]=ផ្ដល់​ការ​ចូលដំណើរការ​ទៅ​ទំនាក់ទំនង​ដែល​បានផ្ទុក​នៅ​លើ​ម៉ាស៊ីន​បម្រើ​ថត LDAP
Comment[lv]=Nodrošina piekļuvi kontaktiem, kas glabājas LDAP direktorija serverī
Comment[nb]=Gir tilgang til kontakter lagret på en LDAP-katalogtjener
Comment[nds]=Stellt Togriep op Kontakten praat, de op en LDAP-Vertelenserver wohrt warrt
Comment[nl]=Geeft toegang tot contactpersonen, opgeslagen op een LDAP-directoryserver
Comment[nn]=Gjev tilgang til kontaktar lagra på ein LDAP-katalogtenar
Comment[pl]=Daje dostęp do kontaktów przechowywanych na serwerze katalogowym LDAP
Comment[pt]=Oferece o acesso aos contactos guardados num servidor de directório LDAP
Comment[pt_BR]=Fornece acesso aos contatos armazenados em um servidor de pastas LDAP
Comment[ru]=Хранение контактов на сервере каталогов LDAP
Comment[sl]=Nudi dostop do stikov, ki so shranjeni na imeniškem strežniku LDAP
Comment[sr]=Пружа приступ контактима складиштеним на серверу ЛДАП именика
Comment[sr@latin]=Pruža pristup kontaktima skladištenim na serveru LDAP imenika
Comment[sv]=Ger tillgång till kontakter lagrade på en LDAP-katalogserver
Comment[tr]=Bir LDAP dizin sunucusunda depolanmış kişilere erişim sağlar
Comment[uk]=Надає доступ до контактів, які зберігаються на сервері каталогів LDAP
Comment[x-test]=xxProvides access to contacts stored on a LDAP directory serverxx
Comment[zh_CN]=提供对被存储在 LDAP 目录服务器上的联系人的访问支持
Comment[zh_TW]=提供存取儲存在 LDAP 目錄伺服器上的聯絡人的功能
X-KDE-Library=kabc_ldapkio
Type=Service
X-KDE-ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=contact
X-KDE-ResourceType=ldapkio
