[Desktop Entry]
Name=LDAP
Name[sr]=ЛДАП
Name[th]=ระบบ LDAP
Name[x-test]=xxLDAPxx
Comment=Provides access to contacts stored on a LDAP directory server
Comment[es]=Provee acceso a los contactos almacenados en un servidor de directorios LDAP
Comment[pt]=Oferece o acesso aos contactos guardados num servidor de directório LDAP
Comment[pt_BR]=Fornece acesso aos contatos armazenados em um servidor de pastas LDAP
Comment[sv]=Ger tillgång till kontakter lagrade på en LDAP-katalogserver
Comment[uk]=Надає доступ до контактів, які зберігаються на сервері каталогів LDAP
Comment[zh_TW]=提供存取儲存在 LDAP 目錄伺服器上的聯絡人的功能
X-KDE-Library=kabc_ldapkio
Type=Service
X-KDE-ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=contact
X-KDE-ResourceType=ldapkio
