[Misc]
Name=Binary
Name[be]=Двойкавы
Name[bs]=Binarni
Name[ca]=Binari
Name[ca@valencia]=Binari
Name[cs]=Binární
Name[da]=Binær
Name[de]=Binär
Name[el]=Δυαδικό
Name[en_GB]=Binary
Name[es]=Binario
Name[et]=Binaar
Name[fi]=Binaari
Name[fr]=Binaire
Name[ga]=Dénártha
Name[gl]=Binario
Name[he]=בינרי
Name[hne]=द्विचर
Name[hu]=Bináris
Name[ia]=Binari
Name[it]=Binario
Name[ja]=バイナリ
Name[kk]=Бинарлы
Name[km]=គោលពីរ
Name[ko]=바이너리
Name[lt]=Dvejetainis
Name[lv]=Binārs
Name[mr]=बायनरी
Name[nb]=Binært
Name[nds]=Bineer
Name[nl]=Binair
Name[nn]=Binær
Name[oc]=Binari
Name[pa]=ਬਾਈਨਰੀ
Name[pl]=Binarny
Name[pt]=Binário
Name[pt_BR]=Executável
Name[ro]=Binar
Name[ru]=Двоичный
Name[se]=Binára
Name[sk]=Binárny
Name[sl]=Dvojiško
Name[sq]=Binar
Name[sr]=Бинарни
Name[sr@ijekavian]=Бинарни
Name[sr@ijekavianlatin]=Binarni
Name[sr@latin]=Binarni
Name[sv]=Binär
Name[th]=ไบนารี
Name[tr]=İkili
Name[ug]=ئىككىلىك
Name[uk]=Двійковий
Name[wa]=Binaire
Name[x-test]=xxBinaryxx
Name[zh_CN]=二进制
Name[zh_TW]=二進位

[Plugin]
Type=binary
X-KDE-Library=kabcformat_binary
