[Misc]
Encoding=UTF-8
Name=Binary
Name[be]=Двойкавы
Name[el]=Δυαδικό
Name[ja]=バイナリ
Name[pa]=ਬਾਈਨਰੀ
Name[sv]=Binär
Name[uk]=Двійковий
Name[x-test]=xxBinaryxx
Name[zh_TW]=二進位

[Plugin]
Type=binary
X-KDE-Library=kabcformat_binary
