[Misc]
Name=Binary
Name[be]=Двойкавы
Name[ca]=Binari
Name[cs]=Binární
Name[de]=Binär
Name[el]=Δυαδικό
Name[es]=Binario
Name[et]=Binaar
Name[fr]=Binaire
Name[ga]=Dénártha
Name[gl]=Binario
Name[hu]=Bináris
Name[it]=Binario
Name[ja]=バイナリ
Name[km]=គោលពីរ
Name[lt]=Dvejetainis
Name[lv]=Binārs
Name[nb]=Binært
Name[nds]=Bineer
Name[nl]=Binair
Name[nn]=Binær
Name[oc]=Binari
Name[pa]=ਬਾਈਨਰੀ
Name[pl]=Binarny
Name[pt]=Binário
Name[pt_BR]=Binário
Name[ro]=Binar
Name[ru]=Двоичный
Name[sl]=Dvojiško
Name[sr]=Бинарни
Name[sr@latin]=Binarni
Name[sv]=Binär
Name[th]=ไบนารี
Name[tr]=İkili
Name[uk]=Двійковий
Name[x-test]=xxBinaryxx
Name[zh_CN]=二进制
Name[zh_TW]=二進位

[Plugin]
Type=binary
X-KDE-Library=kabcformat_binary
