[Desktop Entry]
Name=Directory
Name[be]=Тэчка
Name[ca]=Directori
Name[cs]=Adresář
Name[da]=Mappe
Name[de]=Ordner
Name[el]=Κατάλογος
Name[es]=Directorio
Name[et]=Kataloog
Name[fr]=Dossier
Name[ga]=Eolaire
Name[gl]=Cartafol
Name[hr]=Mapa
Name[hu]=Könyvtár
Name[it]=Elenco
Name[ja]=ディレクトリ
Name[km]=ថត
Name[lt]=Aplankas
Name[lv]=Mape
Name[nb]=Mappe
Name[nds]=Orner
Name[nl]=Map
Name[nn]=Mappe
Name[oc]=Repertòri
Name[pa]=ਡਾਇਰੈਕਟਰੀ
Name[pl]=Katalog
Name[pt]=Pasta
Name[pt_BR]=Pasta
Name[ro]=Director
Name[ru]=Папка
Name[sl]=Imenik
Name[sr]=Фасцикла
Name[sr@latin]=Fascikla
Name[sv]=Katalog
Name[th]=ไดเรกทอรี
Name[tr]=Dizin
Name[uk]=Каталог
Name[x-test]=xxDirectoryxx
Name[zh_CN]=目录
Name[zh_TW]=目錄
X-KDE-Library=kabc_directory
Type=Service
X-KDE-ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=contact
X-KDE-ResourceType=dir
