[Desktop Entry]
Encoding=UTF-8
Name=Directory
Name[be]=Тэчка
Name[ca]=Directori
Name[cs]=Adresář
Name[de]=Ordner
Name[el]=Κατάλογος
Name[es]=Directorio
Name[et]=Kataloog
Name[fr]=Dossier
Name[ga]=Eolaire
Name[gl]=Cartafol
Name[hu]=Könyvtár
Name[it]=Elenco
Name[ja]=ディレクトリ
Name[lt]=Aplankas
Name[lv]=Mape
Name[nb]=Mappe
Name[nds]=Orner
Name[nl]=Map
Name[oc]=Repertòri
Name[pa]=ਡਾਇਰੈਕਟਰੀ
Name[pl]=Katalog
Name[pt]=Pasta
Name[pt_BR]=Diretório
Name[ru]=Папка
Name[sl]=Imenik
Name[sv]=Katalog
Name[uk]=Каталог
Name[x-test]=xxDirectoryxx
Name[zh_CN]=目录
Name[zh_TW]=目錄
X-KDE-Library=kabc_directory
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=contact
X-KDE-ResourceType=dir
