[Desktop Entry]
Name=Folder
Name[bs]=Direktorij
Name[ca]=Carpeta
Name[ca@valencia]=Carpeta
Name[cs]=Složka
Name[da]=Mappe
Name[de]=Ordner
Name[el]=Φάκελος
Name[en_GB]=Folder
Name[eo]=Dosierujo
Name[es]=Carpeta
Name[et]=Kataloog
Name[fi]=Kansio
Name[fr]=Dossier
Name[ga]=Fillteán
Name[gl]=Cartafol
Name[he]=תיקייה
Name[hu]=Mappa
Name[ia]=Dossier
Name[it]=Cartella
Name[ja]=フォルダ
Name[kk]=Қапшық
Name[km]=ថត
Name[lt]=Aplankas
Name[lv]=Mape
Name[mr]=संचयीका
Name[nb]=Mappe
Name[nds]=Orner
Name[nl]=Map
Name[nn]=Mappe
Name[pa]=ਫੋਲਡਰ
Name[pl]=Katalog
Name[pt]=Pasta
Name[pt_BR]=Pasta
Name[ro]=Dosar
Name[ru]=Папка
Name[sk]=Priečinok
Name[sl]=Mapa
Name[sr]=Фасцикла
Name[sr@ijekavian]=Фасцикла
Name[sr@ijekavianlatin]=Fascikla
Name[sr@latin]=Fascikla
Name[sv]=Katalog
Name[th]=โฟลเดอร์
Name[tr]=Dizin
Name[ug]=قىسقۇچ
Name[uk]=Тека
Name[wa]=Ridant
Name[x-test]=xxFolderxx
Name[zh_CN]=文件夹
Name[zh_TW]=資料夾
Comment=Provides access to contacts, each stored in a single file, in a given folder. Supports standard vCard file and other formats depending on availability of plugins.
Comment[cs]=Poskytuje přístup ke kontaktům, každém uloženém v jednom souboru v dané složce. Podporuje standardní soubory s vizitkou a jiným formátům podle dostupných modulů.
Comment[de]=Ermöglicht Zugriff auf Kontakte, die in einzelnen Dateien in einem vorgegebenen Ordner gespeichert sind. Unterstützt Standard-vCard-Dateien und andere Formate abhängig von den verfügbaren Modulen.
Comment[es]=Proporciona acceso a los contactos, cada uno almacenado en un archivo diferente, dentro de una carpeta determinada. Admite archivos vCard estándar y otros formatos dependiendo de la disponibilidad de los complementos.
Comment[fr]=Fournit l'accès aux contacts stockés chacun dans un fichier dans le dossier indiqué. Le format vCard et d'autres formats sont pris en charge en fonction des modules externes disponibles
Comment[ia]=Il provide accessos a contactos, cata un immagazinate in un singule file, in un date dossier. Il supporta file de standard VCard e altere formatos dependente ab le disponibilitate de plugins.
Comment[it]=Fornisce accesso a contatti, ciascuno dei quali memorizzato in un singolo file in una cartella data. Gestisce file in standard VCard e altri formati in base alle estensioni disponibili.
Comment[ja]=それぞれが単一のファイルに保存されている任意のフォルダ内の連絡先へのアクセスを提供します。標準の VCard ファイルと、利用可能なプラグインに応じたフォーマットをサポートします。
Comment[kk]=Көрсетілген қапшықта, әрбірі бөлек файлда сақталған контакттарға қатынау мүмкіндігін береді. Плагині бар-жоғына қарай, vCard және басқа да пішімдерді тани алады.
Comment[km]=ផ្ដល់​ការ​ចូលដំណើរការ​ទៅ​កាន់​ទំនាក់ទំនង ដែល​ទំនាក់ទំនង​នីមួយៗ​ត្រូវ​បានផ្ទុកនៅ​ក្នុង​ឯកសារ​តែ​មួយ នៅ​ក្នុង​ថត​ដែល​បានផ្ដល់​ឲ្យ ។ គាំទ្រ​ឯកសារ VCard និង​ទ្រង់ទ្រាយ​ផ្សេងៗ​ ដោយ​អាស្រ័យ​លើ​កម្មវិធី​ជំនួយ​ដែល​មាន ។
Comment[lt]=Suteikia prieigą prie kontaktų, kurių kiekvienas saugomas atskirame faile konkrečiame aplanke. Palaiko standartinius VCard failus ir kitus formatus, priklausomai nuo įdiegtų įskiepių. 
Comment[lv]=Nodrošina pieeju kontaktiem, kas katrs saglabāts individuālā failā norādītajā mapē. Atbalsta standarta VCard failus un citus formātus, atkarībā no pieejamajiem spraudņiem.
Comment[nb]=Gir tilgang til kontakter, lagret hver for seg i en enkelt fil, i en gitt mappe. Støtter standard vCard og andre formater avhengig av tilgjengelige programtillegg.
Comment[nl]=Geeft toegang tot contactpersonen, elk opgeslagen in een enkel bestand in een opgegeven map. Ondersteunt standaard vCard-bestand en andere van beschikbare plug-ins afhankelijke formaten
Comment[pl]=Daje dostęp do kontaktów, z których każdy jest przechowywany w oddzielnym pliku, w podanym katalogu. Obsługuje pliki zgodne ze standardem vCard i inne, jeśli są dostępne odpowiednie wtyczki.
Comment[pt]=Oferece o acesso aos contactos, estando cada um guardado num único ficheiro de uma dada pasta. Suporta os ficheiros vCard normais, assim como outros formatos, dependendo da disponibilidade dos 'plugins'.
Comment[pt_BR]=Fornece acesso aos contatos, cada um armazenado em um único arquivo, em uma pasta informada. Suporta o formato de arquivos vCard padrão e outros formatos, dependendo da disponibilidade de plugins.
Comment[sk]=Poskytuje prístup ku kontaktom, každý uložený v samostatnom súbore v danom adresári. Podporuje štandardný vCard súbor a ostatné formáty v závislosti od dostupnosti zásuvných modulov.
Comment[sr]=Пружа приступ контактима складиштеним у појединачним фајловима у датој фасцикли. Подржава стандардне в‑кард фајлове и друге формате, према расположивим прикључцима.
Comment[sr@ijekavian]=Пружа приступ контактима складиштеним у појединачним фајловима у датој фасцикли. Подржава стандардне в‑кард фајлове и друге формате, према расположивим прикључцима.
Comment[sr@ijekavianlatin]=Pruža pristup kontaktima skladištenim u pojedinačnim fajlovima u datoj fascikli. Podržava standardne vCard fajlove i druge formate, prema raspoloživim priključcima.
Comment[sr@latin]=Pruža pristup kontaktima skladištenim u pojedinačnim fajlovima u datoj fascikli. Podržava standardne vCard fajlove i druge formate, prema raspoloživim priključcima.
Comment[sv]=Ger tillgång till kontakter, var och en lagrad i en enstaka fil, i en given katalog. Stöder vCard-standardfiler och andra format, beroende på tillgängliga insticksprogram.
Comment[uk]=Надає доступ до контактів, кожен з яких зберігається у окремому файлі у вказаній теці. Підтримує стандартні файли vCard та файли у інших форматах, залежно від наявності відповідних додатків.
Comment[x-test]=xxProvides access to contacts, each stored in a single file, in a given folder. Supports standard vCard file and other formats depending on availability of plugins.xx
Comment[zh_TW]=提供存取特定目錄下，個別儲存在單一檔案中的聯絡人的功能。支援標準的 vCard 檔，以及外掛程式所提供的其它格式檔案。
X-KDE-Library=kabc_directory
Type=Service
X-KDE-ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=contact
X-KDE-ResourceType=dir
