[Desktop Entry]
Name=File
Name[be]=Файл
Name[ca]=Fitxer
Name[cs]=Soubor
Name[da]=Fil
Name[de]=Datei
Name[el]=Αρχείο
Name[es]=Archivo
Name[et]=Fail
Name[fr]=Fichier
Name[ga]=Comhad
Name[gl]=Ficheiro
Name[hne]=फाइल
Name[hu]=Fájl
Name[ja]=ファイル
Name[km]=ឯកសារ
Name[lt]=Failas
Name[lv]=Fails
Name[nb]=Fil
Name[nds]=Datei
Name[nl]=Bestand
Name[nn]=Fil
Name[oc]=Fichièr
Name[pa]=ਫਾਇਲ
Name[pl]=Plik
Name[pt]=Ficheiro
Name[pt_BR]=Arquivo
Name[ro]=Fișier
Name[ru]=Файл
Name[se]=Fiila
Name[sl]=Datoteka
Name[sr]=Фајл
Name[sr@latin]=Fajl
Name[sv]=Fil
Name[th]=แฟ้ม
Name[tr]=Dosya
Name[uk]=Файл
Name[x-test]=xxFilexx
Name[zh_CN]=文件
Name[zh_TW]=檔案
Comment=Provides access to contacts stored in a single local file. Supports standard VCard files and other formats depending on available plugins.
Comment[et]=Võimaldab kasutada kohalikku faili salvestatud kontakte. Toetab standardseid VCard-faile ja teisi vorminguid sõltuvalt pluginate olemasolust.
Comment[ga]=Soláthraíonn sé seo rochtain ar theagmhálacha, stóráilte i gcomhad aonair. Tacaítear le comhaid v-Chárta agus formáidí eile, ag brath ar na breiseáin atá ar fáil.
Comment[gl]=Dá acceso a contactos gardados nun único ficheiro local. Admite ficheiros vCard estándar e outros formatos en función das extensións dispoñíbeis.
Comment[nds]=Stellt Togriep op Kontakten praat, de in een enkel lokaal Datei wohrt warrt. Ünnerstütt VCard-Dateien un anner Formaten na de 'verföögboren Modulen.
Comment[pt_BR]=Fornece acesso aos contatos armazenados em um único arquivo local. Suporta o formato de arquivos VCard padrão e outros formatos, dependendo da disponibilidade de plug-ins.
Comment[sv]=Ger tillgång till kontakter lagrade i en enda lokal fil. Stöder vCard-standardfiler och andra format, beroende på tillgängliga insticksprogram.
Comment[uk]=Надає доступ до контактів, які зберігаються у окремому локальному файлі. Підтримує стандартні файли VCard та файли у інших форматах, залежно від наявності відповідних додатків.
Comment[zh_TW]=提供存取儲存在單一檔案中的聯絡人的功能。支援標準的 VCard 檔，以及外掛程式所提供的其它格式檔案。
X-KDE-Library=kabc_file
Type=Service
X-KDE-ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=contact
X-KDE-ResourceType=file
