[Desktop Entry]
Name=File
Name[be]=Файл
Name[ca]=Fitxer
Name[cs]=Soubor
Name[da]=Fil
Name[de]=Datei
Name[el]=Αρχείο
Name[es]=Archivo
Name[et]=Fail
Name[fr]=Fichier
Name[ga]=Comhad
Name[gl]=Ficheiro
Name[hu]=Fájl
Name[ja]=ファイル
Name[km]=ឯកសារ
Name[lt]=Failas
Name[lv]=Fails
Name[nb]=Fil
Name[nds]=Datei
Name[nl]=Bestand
Name[nn]=Fil
Name[oc]=Fichièr
Name[pa]=ਫਾਇਲ
Name[pl]=Plik
Name[pt]=Ficheiro
Name[pt_BR]=Arquivo
Name[ro]=Fișier
Name[ru]=Файл
Name[sl]=Datoteka
Name[sr]=Фајл
Name[sr@latin]=Fajl
Name[sv]=Fil
Name[th]=แฟ้ม
Name[tr]=Dosya
Name[uk]=Файл
Name[x-test]=xxFilexx
Name[zh_CN]=文件
Name[zh_TW]=檔案
Comment=Provides access to contacts stored in a single local file. Supports standard VCard files and other formats depending on available plugins
Comment[ca]=Proporciona l'accés als contactes emmagatzemats en un fitxer individual. Accepta els fitxers estàndard VCard i altres formats, depenent dels connectors disponibles
Comment[el]=Προσφέρει πρόσβαση σε επαφές, αποθηκευμένες σε ένα τοπικό αρχείο. Υποστηρίζει  τυπικά αρχεία VCard και άλλες μορφές αρχείων ανάλογα με τη διαθεσιμότητα των πρόσθετων
Comment[es]=Provee acceso a los contactos almacenados en un único archivo local. Soporta archivos VCard estándar y otros formatos dependiendo de la disponibilidad de los componentes
Comment[fr]=Fourni l'accès aux contacts stockés dans un seul fichier local. Le format VCard et d'autres formats sont pris en charge en fonction des modules externes disponibles
Comment[gl]=Dá aceso a contactos gardados nun único ficheiro local. Admite ficheiros VCard estándar e outros formatos en función das extensións disponíbeis
Comment[nb]=Gir tilgang til kontakter, lagret i en enkelt lokal fil. Støtter standard vCard og andre formater avhengig av tilgjengelige programtillegg
Comment[nds]=Stellt Togriep op Kontakten praat, de in een enkel lokaal Datei wohrt warrt. Ünnerstütt VCard-Dateien un anner Formaten na de 'verföögboren Modulen
Comment[pt]=Oferece o acesso aos contactos, estando todos guardados num único ficheiro local. Suporta os ficheiros VCard normais, assim como outros formatos, dependendo da disponibilidade dos 'plugins'
Comment[pt_BR]=Fornece acesso aos contatos armazenados em um único arquivo local. O suporte padrão de arquivos VCard e outros formatos dependem da disponibilidade de plug-ins
Comment[sv]=Ger tillgång till kontakter lagrade i en enda lokal fil. Stöder vCard-standardfiler och andra format, beroende på tillgängliga insticksprogram
Comment[uk]=Надає доступ до контактів, які зберігаються у окремому локальному файлі. Підтримує стандартні файли VCard та файли у інших форматах, залежно від наявності відповідних додатків.
Comment[x-test]=xxProvides access to contacts stored in a single local file. Supports standard VCard files and other formats depending on available pluginsxx
Comment[zh_TW]=提供存取儲存在單一檔案中的聯絡人的功能。支援標準的 VCard 檔，以及外掛程式所提供的其它格式檔案。
X-KDE-Library=kabc_file
Type=Service
X-KDE-ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=contact
X-KDE-ResourceType=file
