[Desktop Entry]
Name=File
Name[be]=Файл
Name[ca]=Fitxer
Name[cs]=Soubor
Name[da]=Fil
Name[de]=Datei
Name[el]=Αρχείο
Name[es]=Archivo
Name[et]=Fail
Name[fr]=Fichier
Name[ga]=Comhad
Name[gl]=Ficheiro
Name[hne]=फाइल
Name[hu]=Fájl
Name[ja]=ファイル
Name[km]=ឯកសារ
Name[lt]=Failas
Name[lv]=Fails
Name[nb]=Fil
Name[nds]=Datei
Name[nl]=Bestand
Name[nn]=Fil
Name[oc]=Fichièr
Name[pa]=ਫਾਇਲ
Name[pl]=Plik
Name[pt]=Ficheiro
Name[pt_BR]=Arquivo
Name[ro]=Fișier
Name[ru]=Файл
Name[se]=Fiila
Name[sl]=Datoteka
Name[sr]=Фајл
Name[sr@latin]=Fajl
Name[sv]=Fil
Name[th]=แฟ้ม
Name[tr]=Dosya
Name[uk]=Файл
Name[x-test]=xxFilexx
Name[zh_CN]=文件
Name[zh_TW]=檔案
Comment=Provides access to contacts stored in a single local file. Supports standard VCard files and other formats depending on available plugins.
Comment[da]=Giver adgang til kontakter, hver lagret i en enkelt fil. Understøtter standard VCard-fil og andre formater afhængigt af tilgængelige af plugins.
Comment[de]=Ermöglicht Zugriff auf Kontakte, die in einer einzigen Dateien lokal gespeichert sind. Unterstützt Standard-VCard-Dateien und andere Formate abhängig von den verfügbaren Modulen.
Comment[el]=Προσφέρει πρόσβαση σε επαφές, αποθηκευμένες σε ένα τοπικό αρχείο. Υποστηρίζει τυπικά αρχεία VCard και άλλες μορφές αρχείων ανάλογα με τη διαθεσιμότητα των πρόσθετων.
Comment[es]=Provee acceso a los contactos almacenados en un único archivo local. Soporta archivos VCard estándar y otros formatos dependiendo de la disponibilidad de los componentes.
Comment[et]=Võimaldab kasutada kohalikku faili salvestatud kontakte. Toetab standardseid VCard-faile ja teisi vorminguid sõltuvalt pluginate olemasolust.
Comment[ga]=Soláthraíonn sé seo rochtain ar theagmhálacha, stóráilte i gcomhad aonair. Tacaítear le comhaid v-Chárta agus formáidí eile, ag brath ar na breiseáin atá ar fáil.
Comment[gl]=Dá acceso a contactos gardados nun único ficheiro local. Admite ficheiros vCard estándar e outros formatos en función das extensións dispoñíbeis.
Comment[ja]=単一のローカルファイルに保存されている連絡先へのアクセスを提供します。標準の VCard ファイルと、利用可能なプラグインに応じたフォーマットをサポートします。
Comment[km]=ផ្ដល់​កា​រចូលដំណើរការ​ទៅ​ទំនាក់ទំនង​​នៅ​ក្នុង​ឯកសារ​មូលដ្ឋាន​តែ​មួយ ។ គាំទ្រ​ឯកសារ VCard ស្តង់ដារ និង​ទ្រង់ទ្រាយ​ផ្សេងៗ​ ដោយ​អាស្រ័យ​លើ​កម្មវិធី​ជំនួយ​ដែល​មាន ។
Comment[nb]=Gir tilgang til kontakter, lagret i en enkelt lokal fil. Støtter standard vCard og andre formater avhengig av tilgjengelige programtillegg.
Comment[nds]=Stellt Togriep op Kontakten praat, de in een enkel lokaal Datei wohrt warrt. Ünnerstütt VCard-Dateien un anner Formaten na de 'verföögboren Modulen.
Comment[pt]=Oferece o acesso aos contactos, estando todos guardados num único ficheiro local. Suporta os ficheiros VCard normais, assim como outros formatos, dependendo da disponibilidade dos 'plugins'.
Comment[pt_BR]=Fornece acesso aos contatos armazenados em um único arquivo local. Suporta o formato de arquivos VCard padrão e outros formatos, dependendo da disponibilidade de plug-ins.
Comment[sv]=Ger tillgång till kontakter lagrade i en enda lokal fil. Stöder vCard-standardfiler och andra format, beroende på tillgängliga insticksprogram.
Comment[uk]=Надає доступ до контактів, які зберігаються у окремому локальному файлі. Підтримує стандартні файли VCard та файли у інших форматах, залежно від наявності відповідних додатків.
Comment[x-test]=xxProvides access to contacts stored in a single local file. Supports standard VCard files and other formats depending on available plugins.xx
Comment[zh_CN]=提供对被存储在单独的本地文件中的联系人的访问支持。支持标准 VCard 文件和其它插件所允许的格式。
Comment[zh_TW]=提供存取儲存在單一檔案中的聯絡人的功能。支援標準的 VCard 檔，以及外掛程式所提供的其它格式檔案。
X-KDE-Library=kabc_file
Type=Service
X-KDE-ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=contact
X-KDE-ResourceType=file
