[Desktop Entry]
Encoding=UTF-8
Name=Network
Name[be]=Сетка
Name[ca]=Xarxa
Name[cs]=Síť
Name[de]=Netzwerk
Name[el]=Δίκτυο
Name[es]=Red
Name[ga]=Líonra
Name[hu]=Hálózat
Name[ja]=ネットワーク
Name[lt]=Tinklas
Name[nds]=Nettwark
Name[nl]=Netwerk
Name[oc]=Ret
Name[pa]=ਨੈੱਟਵਰ
Name[pt]=Rede
Name[sv]=Nätverk
Name[uk]=Мережа
Name[x-test]=xxNetworkxx
Name[zh_CN]=网络
Name[zh_TW]=網路
X-KDE-Library=kabc_net
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=contact
X-KDE-ResourceType=net
