[Desktop Entry]
Encoding=UTF-8
Name=Network
Name[be]=Сетка
Name[el]=Δίκτυο
Name[es]=Red
Name[ga]=Líonra
Name[ja]=ネットワーク
Name[pa]=ਨੈੱਟਵਰ
Name[pt]=Rede
Name[sv]=Nätverk
Name[uk]=Мережа
Name[x-test]=xxNetworkxx
Name[zh_TW]=網路
X-KDE-Library=kabc_net
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=contact
X-KDE-ResourceType=net
