[Desktop Entry]
Type=Service
Icon=im-aim
Comment=AIM Protocol
Comment[ca]=Protocol AIM
Comment[en_GB]=AIM Protocol
Comment[fr]=Protocole AIM
Comment[nl]=AIM-protocol
Comment[pt]=Protocolo AIM
Comment[sv]=AIM-protokoll
Comment[uk]=Протокол AIM
Comment[x-test]=xxAIM Protocolxx
Name=AIM
Name[ca]=AIM
Name[en_GB]=AIM
Name[fr]=AIM
Name[nl]=AIM
Name[pt]=AIM
Name[sk]=AIM
Name[sv]=AIM
Name[uk]=AIM
Name[x-test]=xxAIMxx
