[Desktop Entry]
Type=Service
Icon=im-aim
Comment=AIM Protocol
Comment[ca]=Protocol AIM
Comment[ca@valencia]=Protocol AIM
Comment[cs]=Protokol AIM
Comment[de]=AIM-Protokoll
Comment[en_GB]=AIM Protocol
Comment[es]=Protocolo AIM
Comment[fi]=AIM-yhteyskäytäntö
Comment[fr]=Protocole AIM
Comment[gl]=Protocolo de AIM
Comment[it]=Protocollo AIM
Comment[ja]=AIM プロトコル
Comment[ko]=AIM 프로토콜
Comment[nb]=AIM-protokoll
Comment[nl]=AIM-protocol
Comment[nn]=AIM-protokoll
Comment[pl]=Protokół AIM
Comment[pt]=Protocolo AIM
Comment[pt_BR]=Protocolo do AIM
Comment[sk]=AIM Protokol
Comment[sv]=AIM-protokoll
Comment[uk]=Протокол AIM
Comment[x-test]=xxAIM Protocolxx
Name=AIM
Name[ca]=AIM
Name[ca@valencia]=AIM
Name[cs]=AIM
Name[de]=AIM
Name[en_GB]=AIM
Name[es]=AIM
Name[fi]=AIM
Name[fr]=AIM
Name[gl]=AIM
Name[it]=AIM
Name[ja]=AIM
Name[ko]=AIM
Name[nb]=AIM
Name[nl]=AIM
Name[nn]=AIM
Name[pl]=AIM
Name[pt]=AIM
Name[pt_BR]=AIM
Name[sk]=AIM
Name[sv]=AIM
Name[uk]=AIM
Name[x-test]=xxAIMxx
