[Desktop Entry]
Type=Service
Icon=im-delta
Comment=Delta Chat Protocol
Comment[ca]=Protocol Delta Chat
Comment[ca@valencia]=Protocol Delta Chat
Comment[es]=Protocolo Delta Chat
Comment[he]=פרוטוקול Delta Chat
Comment[ia]=Protocollo  de Delta Chat
Comment[ka]=Delta Chat-ის პროტოკოლი
Comment[nl]=Delta-chatprotocol
Comment[pt_BR]=Protocolo Delta Chat
Comment[sl]=Protokol Delta Chat
Comment[uk]=Протокол Delta Chat
Comment[zh_TW]=Delta Chat 通訊協定
Name=Delta Chat
Name[ca]=Delta Chat
Name[ca@valencia]=Delta Chat
Name[es]=Delta Chat
Name[he]=Delta Chat
Name[ia]=Delta Chat
Name[ka]=Delta Chat
Name[nl]=Deltachat
Name[pt_BR]=Delta Chat
Name[sl]=Delta Chat
Name[uk]=Delta Chat
Name[zh_TW]=Delta Chat
