[Desktop Entry]
Type=Service
Icon=im-discord
Comment=Discord Protocol
Comment[ar]=ميفاق ديسكور
Comment[bg]=Протокол на Discord
Comment[ca]=Protocol Discord
Comment[ca@valencia]=Protocol Discord
Comment[cs]=Protokol Discord
Comment[es]=Protocolo Discord
Comment[fr]=Protocole pour Discord
Comment[he]=פרוטוקול Discord
Comment[hu]=Discord protokoll
Comment[ia]=Protocollo de Discord
Comment[it]=Protocollo di Discord
Comment[ka]=Discord-ის პროტოკოლი
Comment[ko]=Discord 프로토콜
Comment[lt]=Discord protokolas
Comment[nl]=Discord-protocol
Comment[nn]=Discord-protokoll
Comment[pt_BR]=Protocolo do Discord
Comment[ro]=Protocol Discord
Comment[ru]=Протокол Discord
Comment[sk]=Protokol Discord
Comment[sl]=Protokol Discord
Comment[sv]=Discord-protokoll
Comment[tr]=Discord Protokolü
Comment[ug]=Discord كېلىشىمى
Comment[uk]=Протокол Discord
Comment[zh_TW]=Discord 通訊協定
Name=Discord
Name[ar]=ديسكورد
Name[bg]=Discord
Name[ca]=Discord
Name[ca@valencia]=Discord
Name[cs]=Discord
Name[es]=Discord
Name[fr]=Discord
Name[he]=Discord
Name[hu]=Discord
Name[ia]=Discord
Name[it]=Discord
Name[ka]=Discord
Name[ko]=Discord
Name[lt]=Discord
Name[nl]=Discord
Name[nn]=Discord
Name[pt_BR]=Discord
Name[ro]=Discord
Name[ru]=Discord
Name[sk]=Discord
Name[sl]=Discord
Name[sv]=Discord
Name[tr]=Discord
Name[ug]=Discord
Name[uk]=Discord
Name[zh_TW]=Discord
