[Desktop Entry]
Type=Service
Icon=im-discord
Comment=Discord Protocol
Comment[ca]=Protocol Discord
Comment[ca@valencia]=Protocol Discord
Comment[es]=Protocolo Discord
Comment[he]=פרוטוקול Discord
Comment[ia]=Protocollo de Discord
Comment[ka]=Discord-ის პროტოკოლი
Comment[nl]=Discord-protocol
Comment[pt_BR]=Protocolo do Discord
Comment[sl]=Protokol Discord
Comment[uk]=Протокол Discord
Comment[zh_TW]=Discord 通訊協定
Name=Discord
Name[ca]=Discord
Name[ca@valencia]=Discord
Name[es]=Discord
Name[he]=Discord
Name[ia]=Discord
Name[ka]=Discord
Name[nl]=Discord
Name[pt_BR]=Discord
Name[sl]=Discord
Name[uk]=Discord
Name[zh_TW]=Discord
