[Desktop Entry]
Type=Service
Icon=im-facebook
Comment=Facebook Protocol
Comment[ca]=Protocol Facebook
Comment[nl]=Facebook-protocol
Comment[pt]=Protocolo do Facebook
Comment[sv]=Facebook-protokoll
Comment[uk]=Протокол Facebook
Comment[x-test]=xxFacebook Protocolxx
Name=Facebook
Name[ca]=Facebook
Name[nl]=Facebook
Name[pt]=Facebook
Name[sk]=Facebook
Name[sv]=Facebook
Name[uk]=Facebook
Name[x-test]=xxFacebookxx
