[Desktop Entry]
Type=Service
Icon=im-facebook
Comment=Facebook Protocol
Comment[ca]=Protocol Facebook
Comment[ca@valencia]=Protocol Facebook
Comment[cs]=Protokol Facebook
Comment[en_GB]=Facebook Protocol
Comment[es]=Protocolo Facebook
Comment[fi]=Facebook-yhteyskäytäntö
Comment[fr]=Protocole Facebook
Comment[it]=Protocollo di Facebook
Comment[ko]=Facebook 프로토콜
Comment[nl]=Facebook-protocol
Comment[pt]=Protocolo do Facebook
Comment[pt_BR]=Protocolo do Facebook
Comment[sv]=Facebook-protokoll
Comment[uk]=Протокол Facebook
Comment[x-test]=xxFacebook Protocolxx
Name=Facebook
Name[ca]=Facebook
Name[ca@valencia]=Facebook
Name[cs]=Facebook
Name[en_GB]=Facebook
Name[es]=Facebook
Name[fi]=Facebook
Name[fr]=Facebook
Name[it]=Facebook
Name[ko]=Facebook
Name[nl]=Facebook
Name[nn]=Facebook
Name[pt]=Facebook
Name[pt_BR]=Facebook
Name[sk]=Facebook
Name[sv]=Facebook
Name[uk]=Facebook
Name[x-test]=xxFacebookxx
