[Desktop Entry]
Type=Service
Icon=im-facebook
Comment=Facebook Protocol
Comment[ast]=Protocolu de Facebook
Comment[ca]=Protocol Facebook
Comment[ca@valencia]=Protocol Facebook
Comment[cs]=Protokol Facebook
Comment[de]=Facebook-Protokoll
Comment[en_GB]=Facebook Protocol
Comment[es]=Protocolo Facebook
Comment[fi]=Facebook-yhteyskäytäntö
Comment[fr]=Protocole Facebook
Comment[gl]=Protocolo de Facebook
Comment[it]=Protocollo di Facebook
Comment[ko]=Facebook 프로토콜
Comment[nl]=Facebook-protocol
Comment[pl]=Protokół Facebooka
Comment[pt]=Protocolo do Facebook
Comment[pt_BR]=Protocolo do Facebook
Comment[ru]=Протокол Facebook
Comment[sk]=Facebook Protokol
Comment[sv]=Facebook-protokoll
Comment[tg]=Протоколи Facebook
Comment[uk]=Протокол Facebook
Comment[x-test]=xxFacebook Protocolxx
Name=Facebook
Name[ast]=Facebook
Name[ca]=Facebook
Name[ca@valencia]=Facebook
Name[cs]=Facebook
Name[de]=Facebook
Name[en_GB]=Facebook
Name[es]=Facebook
Name[fi]=Facebook
Name[fr]=Facebook
Name[gl]=Facebook
Name[it]=Facebook
Name[ko]=Facebook
Name[nl]=Facebook
Name[nn]=Facebook
Name[pl]=Facebook
Name[pt]=Facebook
Name[pt_BR]=Facebook
Name[ru]=Facebook
Name[sk]=Facebook
Name[sv]=Facebook
Name[tg]=Facebook
Name[uk]=Facebook
Name[x-test]=xxFacebookxx
