[Desktop Entry]
Type=Service
Icon=im-fluxer
Comment=Fluxer Protocol
Comment[ar]=ميفاق Fluxer
Comment[ca]=Protocol Fluxer
Comment[ca@valencia]=Protocol Fluxer
Comment[es]=Protocolo Fluxer
Comment[fr]=Protocole pour Fluxer
Comment[he]=פרוטוקול Fluxer
Comment[ia]=Protocollo de Fluxer
Comment[it]=Protocollo di Fluxer
Comment[ka]=Fluxer-ის პროტოკოლი
Comment[ko]=Fluxer 프로토콜
Comment[lt]=Fluxer protokolas
Comment[nl]=Fluxer-protocol
Comment[nn]=Fluxer-protokoll
Comment[pt_BR]=Protocolo do Fluxer
Comment[ro]=Protocol Fluxer
Comment[sk]=Protokol Fluxer
Comment[sl]=Protokol Fluxer
Comment[tr]=Fluxer Protokolü
Comment[uk]=Протокол Fluxer
Comment[zh_TW]=Fluxer 通訊協定
Name=Fluxer
Name[ar]=Fluxer
Name[ca]=Fluxer
Name[ca@valencia]=Fluxer
Name[es]=Fluxer
Name[fr]=Fluxer
Name[he]=Fluxer
Name[ia]=Fluxer
Name[it]=Fluxer
Name[ka]=Fluxer
Name[ko]=Fluxer
Name[lt]=Fluxer
Name[nl]=Fluxer
Name[nn]=Fluxer
Name[pt_BR]=Fluxer
Name[ro]=Fluxer
Name[sk]=Fluxer
Name[sl]=Fluxer
Name[tr]=Fluxer
Name[uk]=Fluxer
Name[zh_TW]=Fluxer
