[Desktop Entry]
Type=Service
Icon=im-fluxer
Comment=Fluxer Protocol
Comment[ca]=Protocol Fluxer
Comment[ca@valencia]=Protocol Fluxer
Comment[es]=Protocolo Fluxer
Comment[he]=פרוטוקול Fluxer
Comment[ia]=Protocollo de Fluxer
Comment[ka]=Fluxer-ის პროტოკოლი
Comment[nl]=Fluxer-protocol
Comment[pt_BR]=Protocolo do Fluxer
Comment[sl]=Protokol Fluxer
Comment[uk]=Протокол Fluxer
Comment[zh_TW]=Fluxer 通訊協定
Name=Fluxer
Name[ca]=Fluxer
Name[ca@valencia]=Fluxer
Name[es]=Fluxer
Name[he]=Fluxer
Name[ia]=Fluxer
Name[ka]=Fluxer
Name[nl]=Fluxer
Name[pt_BR]=Fluxer
Name[sl]=Fluxer
Name[uk]=Fluxer
Name[zh_TW]=Fluxer
