[Desktop Entry]
Type=Service
Icon=im-gadugadu
Comment=Gadu-Gadu Protocol
Comment[ca]=Protocol Gadu-Gadu
Comment[ca@valencia]=Protocol Gadu-Gadu
Comment[cs]=Protokol Gadu-Gadu
Comment[de]=Gadu-Gadu-Protokoll
Comment[en_GB]=Gadu-Gadu Protocol
Comment[es]=Protocolo Gadu-Gadu
Comment[fi]=Gadu-Gadu-yhteyskäytäntö
Comment[fr]=Protocole Gadu-Gadu
Comment[gl]=Protocolo de Gadu-Gadu
Comment[it]=Protocollo Gadu-Gadu
Comment[ko]=Gadu-Gadu 프로토콜
Comment[nb]=Gadu-Gadu-protokoll
Comment[nl]=Gadu-Gadu-protocol
Comment[nn]=Gadu-Gadu-protokoll
Comment[pl]=Protokół Gadu-Gadu
Comment[pt]=Protocolo Gadu-Gadu
Comment[pt_BR]=Protocolo do Gadu-Gadu
Comment[ru]=Протокол Gadu-Gadu
Comment[sk]=Gadu-Gadu Protokol
Comment[sv]=Gadu-Gadu protokoll
Comment[uk]=Протокол Gadu-Gadu
Comment[x-test]=xxGadu-Gadu Protocolxx
Name=Gadu-Gadu
Name[ca]=Gadu-Gadu
Name[ca@valencia]=Gadu-Gadu
Name[cs]=Gadu-Gadu
Name[de]=Gadu-Gadu
Name[en_GB]=Gadu-Gadu
Name[es]=Gadu-Gadu
Name[fi]=Gadu-Gadu
Name[fr]=Gadu-Gadu
Name[gl]=Gadu-Gadu
Name[it]=Gadu-Gadu
Name[ko]=Gadu-Gadu
Name[nb]=Gadu-Gadu
Name[nl]=Gadu-Gadu
Name[nn]=Gadu-Gadu
Name[pl]=Gadu-Gadu
Name[pt]=Gadu-Gadu
Name[pt_BR]=Gadu-Gadu
Name[ru]=Gadu-Gadu
Name[sk]=Gadu-Gadu
Name[sv]=Gadu-Gadu
Name[uk]=Gadu-Gadu
Name[x-test]=xxGadu-Gaduxx
