[Desktop Entry]
Type=Service
Icon=im-gadugadu
Comment=Gadu-Gadu Protocol
Comment[ca]=Protocol Gadu-Gadu
Comment[ca@valencia]=Protocol Gadu-Gadu
Comment[cs]=Protokol Gadu-Gadu
Comment[en_GB]=Gadu-Gadu Protocol
Comment[fi]=Gadu-Gadu-yhteyskäytäntö
Comment[fr]=Protocole Gadu-Gadu
Comment[it]=Protocollo Gadu-Gadu
Comment[nb]=Gadu-Gadu-protokoll
Comment[nl]=Gadu-Gadu-protocol
Comment[nn]=Gadu-Gadu-protokoll
Comment[pt]=Protocolo Gadu-Gadu
Comment[sv]=Gadu-Gadu protokoll
Comment[uk]=Протокол Gadu-Gadu
Comment[x-test]=xxGadu-Gadu Protocolxx
Name=Gadu-Gadu
Name[ca]=Gadu-Gadu
Name[ca@valencia]=Gadu-Gadu
Name[cs]=Gadu-Gadu
Name[en_GB]=Gadu-Gadu
Name[fi]=Gadu-Gadu
Name[fr]=Gadu-Gadu
Name[it]=Gadu-Gadu
Name[nb]=Gadu-Gadu
Name[nl]=Gadu-Gadu
Name[nn]=Gadu-Gadu
Name[pt]=Gadu-Gadu
Name[sk]=Gadu-Gadu
Name[sv]=Gadu-Gadu
Name[uk]=Gadu-Gadu
Name[x-test]=xxGadu-Gaduxx
