[Desktop Entry]
Type=Service
Icon=im-groupwise
Comment=Novell GroupWise Messenger
Comment[ast]=Mensaxeru GroupWise de Novel
Comment[ca]=Novell GroupWise Messenger
Comment[ca@valencia]=Novell GroupWise Messenger
Comment[cs]=Novell GroupWise komunikátor
Comment[de]=Novell GroupWise Messenger
Comment[en_GB]=Novell GroupWise Messenger
Comment[es]=Novell GroupWise Messenger
Comment[eu]=Novell GroupWise Mezularia
Comment[fi]=Novell Groupwise -pikaviestin
Comment[fr]=Messagerie « GroupWise Novell »
Comment[gl]=Mensaxeiro GroupWise de Novell
Comment[id]=Perpesanan GroupWise Novell
Comment[it]=Novell GroupWise Messenger
Comment[ko]=Novell GroupWise 메신저
Comment[lt]=Novell GroupWise pokalbių programa
Comment[nb]=Novell GroupWise meldingsprogram
Comment[nl]=Protocol voor Novell GroupWise Messenger
Comment[nn]=Lynmeldingstenesta Novell GroupWise
Comment[pl]=Komunikator Novell GroupWise
Comment[pt]=Novell GroupWise Messenger
Comment[pt_BR]=Mensageiro do GroupWise da Novell
Comment[ru]=Программа обмена сообщениями Novell GroupWise
Comment[sk]=Novell GroupWise Messenger
Comment[sv]=Novell GroupWise-meddelandeklient
Comment[tg]=Паёмнависи Novell GroupWise
Comment[uk]=Програма обміну повідомленнями Novell GroupWise
Comment[x-test]=xxNovell GroupWise Messengerxx
Comment[zh_CN]=Novell GroupWise Messenger
Comment[zh_TW]=Novell GroupWise Messenger
Name=GroupWise
Name[ast]=GroupWise
Name[ca]=GroupWise
Name[ca@valencia]=GroupWise
Name[cs]=GroupWise
Name[de]=GroupWise
Name[en_GB]=GroupWise
Name[es]=GroupWise
Name[eu]=GroupWise
Name[fi]=GroupWise
Name[fr]=GroupWise
Name[gl]=GroupWise
Name[id]=GroupWise
Name[it]=GroupWise
Name[ja]=GroupWise
Name[ko]=GroupWise
Name[lt]=GroupWise
Name[nb]=GroupWise
Name[nl]=GroupWise
Name[nn]=GroupWise
Name[pl]=GroupWise
Name[pt]=GroupWise
Name[pt_BR]=GroupWise
Name[ru]=GroupWise
Name[sk]=GroupWise
Name[sv]=GroupWise
Name[tg]=GroupWise
Name[uk]=GroupWise
Name[x-test]=xxGroupWisexx
Name[zh_CN]=GroupWise
Name[zh_TW]=GroupWise
