[Desktop Entry]
Type=Service
Icon=im-groupwise
Comment=Novell GroupWise Messenger
Comment[ca]=Novell GroupWise Messenger
Comment[ca@valencia]=Novell GroupWise Messenger
Comment[cs]=Novell GroupWise komunikátor
Comment[de]=Novell GroupWise Messenger
Comment[en_GB]=Novell GroupWise Messenger
Comment[es]=Novell GroupWise Messenger
Comment[fi]=Novell Groupwise -pikaviestin
Comment[fr]=Messagerie « GroupWise Novell »
Comment[it]=Novell GroupWise Messenger
Comment[ko]=Novell GroupWise 메신저
Comment[nb]=Novell GroupWise meldingsprogram
Comment[nl]=Protocol voor Novell GroupWise Messenger
Comment[nn]=Lynmeldingstenesta Novell GroupWise
Comment[pt]=Novell GroupWise Messenger
Comment[pt_BR]=Mensageiro do GroupWise da Novell
Comment[sv]=Novell GroupWise-meddelandeklient
Comment[uk]=Програма обміну повідомленнями Novell GroupWise
Comment[x-test]=xxNovell GroupWise Messengerxx
Name=GroupWise
Name[ca]=GroupWise
Name[ca@valencia]=GroupWise
Name[cs]=GroupWise
Name[de]=GroupWise
Name[en_GB]=GroupWise
Name[es]=GroupWise
Name[fi]=GroupWise
Name[fr]=GroupWise
Name[it]=GroupWise
Name[ko]=GroupWise
Name[nb]=GroupWise
Name[nl]=GroupWise
Name[nn]=GroupWise
Name[pt]=GroupWise
Name[pt_BR]=GroupWise
Name[sk]=GroupWise
Name[sv]=GroupWise
Name[uk]=GroupWise
Name[x-test]=xxGroupWisexx
