[Desktop Entry]
Type=Service
Icon=im-icq
Comment=ICQ Protocol
Comment[ca]=Protocol ICQ
Comment[ca@valencia]=Protocol ICQ
Comment[en_GB]=ICQ Protocol
Comment[fi]=ICQ-yhteyskäytäntö
Comment[fr]=Protocole ICQ
Comment[nb]=ICQ-protokoll
Comment[nl]=ICQ-protocol
Comment[nn]=ICQ-protokoll
Comment[pt]=Protocolo ICQ
Comment[sv]=ICQ-protokoll
Comment[uk]=Протокол ICQ
Comment[x-test]=xxICQ Protocolxx
Name=ICQ
Name[ca]=ICQ
Name[ca@valencia]=ICQ
Name[en_GB]=ICQ
Name[fi]=ICQ
Name[fr]=ICQ
Name[nb]=ICQ
Name[nl]=ICQ
Name[nn]=ICQ
Name[pt]=ICQ
Name[sk]=ICQ
Name[sv]=ICQ
Name[uk]=ICQ
Name[x-test]=xxICQxx
