[Desktop Entry]
Type=Service
Icon=im-icq
Comment=ICQ Protocol
Comment[ca]=Protocol ICQ
Comment[ca@valencia]=Protocol ICQ
Comment[cs]=Protokol ICQ
Comment[de]=ICQ-Protokoll
Comment[en_GB]=ICQ Protocol
Comment[es]=Protocolo ICQ
Comment[fi]=ICQ-yhteyskäytäntö
Comment[fr]=Protocole ICQ
Comment[gl]=Protocolo de ICQ
Comment[it]=Protocollo ICQ
Comment[ko]=ICQ 프로토콜
Comment[nb]=ICQ-protokoll
Comment[nl]=ICQ-protocol
Comment[nn]=ICQ-protokoll
Comment[pl]=Protokół ICQ
Comment[pt]=Protocolo ICQ
Comment[pt_BR]=Protocolo do ICQ
Comment[ru]=Протокол ICQ
Comment[sk]=ICQ Protokol
Comment[sv]=ICQ-protokoll
Comment[uk]=Протокол ICQ
Comment[x-test]=xxICQ Protocolxx
Name=ICQ
Name[ca]=ICQ
Name[ca@valencia]=ICQ
Name[cs]=ICQ
Name[de]=ICQ
Name[en_GB]=ICQ
Name[es]=ICQ
Name[fi]=ICQ
Name[fr]=ICQ
Name[gl]=ICQ
Name[it]=ICQ
Name[ko]=ICQ
Name[nb]=ICQ
Name[nl]=ICQ
Name[nn]=ICQ
Name[pl]=ICQ
Name[pt]=ICQ
Name[pt_BR]=ICQ
Name[ru]=ICQ
Name[sk]=ICQ
Name[sv]=ICQ
Name[uk]=ICQ
Name[x-test]=xxICQxx
