[Desktop Entry]
Type=Service
Icon=im-irc
Comment=Internet Relay Chat
Comment[ca]=Internet Relay Chat
Comment[ca@valencia]=Internet Relay Chat
Comment[en_GB]=Internet Relay Chat
Comment[fi]=Internet Relay Chat
Comment[fr]=Internet Relay Chat
Comment[it]=Internet Relay Chat
Comment[nb]=Internet Relay Chat
Comment[nl]=Internet Relay Chat
Comment[nn]=Internet Relay Chat
Comment[pt]=Internet Relay Chat
Comment[sk]=Internet Relay Chat
Comment[sv]=Internet Relay Chat
Comment[uk]=Internet Relay Chat
Comment[x-test]=xxInternet Relay Chatxx
Name=IRC
Name[ca]=IRC
Name[ca@valencia]=IRC
Name[en_GB]=IRC
Name[fi]=IRC
Name[fr]=IRC
Name[it]=IRC
Name[nb]=IRC
Name[nl]=IRC
Name[nn]=IRC
Name[pt]=IRC
Name[sk]=IRC
Name[sv]=IRC
Name[uk]=IRC
Name[x-test]=xxIRCxx
