[Desktop Entry]
Type=Service
Comment=Matrix
Comment[ar]=ماتريكس
Comment[az]=Matrix
Comment[ca]=Matrix
Comment[ca@valencia]=Matrix
Comment[de]=Matrix
Comment[en_GB]=Matrix
Comment[es]=Matrix
Comment[fi]=Matrix
Comment[fr]=Matrix
Comment[ia]=Matrix
Comment[it]=Matrix
Comment[ko]=Matrix
Comment[nl]=Matrix
Comment[pt_BR]=Matrix
Comment[ro]=Matrix
Comment[sk]=Matica
Comment[sl]=Matrix
Comment[sv]=Matrix
Comment[tr]=Matrix
Comment[uk]=Matrix
Comment[x-test]=xxMatrixxx
Comment[zh_CN]=Matrix
Name=Matrix
Name[ar]=ماتريكس
Name[az]=Matrix
Name[ca]=Matrix
Name[ca@valencia]=Matrix
Name[cs]=Matrix
Name[de]=Matrix
Name[en_GB]=Matrix
Name[es]=Matrix
Name[fi]=Matrix
Name[fr]=Matrix
Name[ia]=Matrix
Name[it]=Matrix
Name[ko]=Matrix
Name[nl]=Matrix
Name[pt_BR]=Matrix
Name[ro]=Matrix
Name[sk]=Matica
Name[sl]=Matrix
Name[sv]=Matrix
Name[tr]=Matrix
Name[uk]=Matrix
Name[x-test]=xxMatrixxx
Name[zh_CN]=Matrix
