[Desktop Entry]
Type=Service
Comment=Matrix
Comment[ca]=Matrix
Comment[ca@valencia]=Matrix
Comment[es]=Matrix
Comment[fr]=Matrix
Comment[ia]=Matrix
Comment[nl]=Matrix
Comment[sl]=Matrix
Comment[sv]=Matrix
Comment[tr]=Matrix
Comment[uk]=Matrix
Comment[x-test]=xxMatrixxx
Name=Matrix
Name[ca]=Matrix
Name[ca@valencia]=Matrix
Name[es]=Matrix
Name[fr]=Matrix
Name[ia]=Matrix
Name[nl]=Matrix
Name[sl]=Matrix
Name[sv]=Matrix
Name[tr]=Matrix
Name[uk]=Matrix
Name[x-test]=xxMatrixxx
