[Desktop Entry]
Type=Service
Icon=im-meanwhile
Comment=Meanwhile Protocol
Comment[ca]=Protocol Meanwhile
Comment[ca@valencia]=Protocol Meanwhile
Comment[en_GB]=Meanwhile Protocol
Comment[fi]=Meanwhile-yhteyskäytäntö
Comment[fr]=Protocole Meanwhile
Comment[nb]=Meanwhile-protokoll
Comment[nl]=Meanwhile-protocol
Comment[nn]=Meanwhile-protokoll
Comment[pt]=Protocolo Meanwhile
Comment[sv]=Meanwhile-protokoll
Comment[uk]=Протокол Meanwhile
Comment[x-test]=xxMeanwhile Protocolxx
Name=Meanwhile
Name[ca]=Meanwhile
Name[ca@valencia]=Meanwhile
Name[en_GB]=Meanwhile
Name[fi]=Meanwhile
Name[fr]=Meanwhile
Name[nb]=Meanwhile
Name[nl]=Meanwhile
Name[nn]=Meanwhile
Name[pt]=Meanwhile
Name[sk]=Meanwhile
Name[sv]=Meanwhile
Name[uk]=Meanwhile
Name[x-test]=xxMeanwhilexx
