[Desktop Entry]
Type=Service
Icon=im-msn
Comment=MSN Messenger
Comment[ca]=MSN Messenger
Comment[ca@valencia]=MSN Messenger
Comment[cs]=MSN Messenger
Comment[de]=MSN Messenger
Comment[en_GB]=MSN Messenger
Comment[es]=MSN Messenger
Comment[fi]=MSN Messenger
Comment[fr]=Messagerie MSN
Comment[it]=MSN Messenger
Comment[ko]=MSN 메신저
Comment[nb]=MSN Messenger
Comment[nl]=MSN Messenger
Comment[nn]=MSN Messenger
Comment[pl]=MSN Messenger
Comment[pt]=MSN Messenger
Comment[pt_BR]=MSN Messenger
Comment[sk]=MSN Messenger
Comment[sv]=MSN Messenger
Comment[uk]=MSN Messenger
Comment[x-test]=xxMSN Messengerxx
Name=MSN Messenger
Name[ca]=MSN Messenger
Name[ca@valencia]=MSN Messenger
Name[cs]=MSN Messenger
Name[de]=MSN Messenger
Name[en_GB]=MSN Messenger
Name[es]=MSN Messenger
Name[fi]=MSN Messenger
Name[fr]=Messagerie MSN
Name[it]=MSN Messenger
Name[ko]=MSN 메신저
Name[nb]=MSN Messenger
Name[nl]=MSN Messenger
Name[nn]=MSN Messenger
Name[pl]=MSN Messenger
Name[pt]=MSN Messenger
Name[pt_BR]=MSN Messenger
Name[sk]=MSN Messenger
Name[sv]=MSN Messenger
Name[uk]=MSN Messenger
Name[x-test]=xxMSN Messengerxx
