[Desktop Entry]
Type=Service
Icon=im-mumble
Comment=Mumble Protocol
Comment[ca]=Protocol Mumble
Comment[ca@valencia]=Protocol Mumble
Comment[es]=Protocolo Mumble
Comment[he]=פרוטוקול Mumble
Comment[ia]=Protocollo de Mumble
Comment[ka]=Mumble-ის პროტოკოლი
Comment[nl]=Mumble-protocol
Comment[pt_BR]=Protocolo do Mumble
Comment[sl]=Protokol Mumble
Comment[uk]=Протокол Mumble
Comment[zh_TW]=Mumble 通訊協定
Name=Mumble
Name[ca]=Mumble
Name[ca@valencia]=Mumble
Name[es]=Mumble
Name[he]=Mumble
Name[ia]=Mumble
Name[ka]=Mumble
Name[nl]=Mumble
Name[pt_BR]=Mumble
Name[sl]=Mumble
Name[uk]=Mumble
Name[zh_TW]=Mumble
