[Desktop Entry]
Type=Service
Icon=im-mumble
Comment=Mumble Protocol
Comment[ar]=ميفاق Mumble
Comment[bg]=Протокол на Mumble
Comment[ca]=Protocol Mumble
Comment[ca@valencia]=Protocol Mumble
Comment[es]=Protocolo Mumble
Comment[fr]=Protocole pour Mumble
Comment[he]=פרוטוקול Mumble
Comment[hu]=Mumble protokoll
Comment[ia]=Protocollo de Mumble
Comment[it]=Protocollo di Mumble
Comment[ka]=Mumble-ის პროტოკოლი
Comment[ko]=Mumble 프로토콜
Comment[lt]=Mumble protokolas
Comment[nl]=Mumble-protocol
Comment[nn]=Mumble-protokoll
Comment[pt_BR]=Protocolo do Mumble
Comment[ro]=Protocol Mumble
Comment[ru]=Протокол Mumble
Comment[sk]=Protokol Mumble
Comment[sl]=Protokol Mumble
Comment[tr]=Mumble Protokolü
Comment[uk]=Протокол Mumble
Comment[zh_TW]=Mumble 通訊協定
Name=Mumble
Name[ar]=Mumble
Name[bg]=Mumble
Name[ca]=Mumble
Name[ca@valencia]=Mumble
Name[es]=Mumble
Name[fr]=Marmonner
Name[he]=Mumble
Name[hu]=Mumble
Name[ia]=Mumble
Name[it]=Mumble
Name[ka]=Mumble
Name[ko]=Mumble
Name[lt]=Mumble
Name[nl]=Mumble
Name[nn]=Mumble
Name[pt_BR]=Mumble
Name[ro]=Mumble
Name[ru]=Mumble
Name[sk]=Mumble
Name[sl]=Mumble
Name[tr]=Mumble
Name[uk]=Mumble
Name[zh_TW]=Mumble
