[Desktop Entry]
Type=Service
Icon=im-qq
Comment=Tencent QQ Messaging
Comment[ca]=Missatgeria Tencent QQ
Comment[ca@valencia]=Missatgeria Tencent QQ
Comment[de]=Tencent QQ Messaging
Comment[en_GB]=Tencent QQ Messaging
Comment[es]=Mensajería Tencent QQ
Comment[fi]=Tencent QQ -pikaviestintä
Comment[fr]=Messagerie QQ de Tencent
Comment[it]=Messaggistica Tencent QQ
Comment[ko]=Tencent QQ 메시징
Comment[nl]=Tencent QQ Messaging
Comment[pl]=Wiadomości Tencent QQ
Comment[pt]=Mensagens do Tencent QQ
Comment[pt_BR]=Mensagens do Tencent QQ
Comment[ru]=Обмен сообщениями Tencent QQ
Comment[sk]=Tencent QQ Messaging
Comment[sv]=Tencent QQ-meddelandeklient
Comment[uk]=Обмін повідомленнями Tencent QQ
Comment[x-test]=xxTencent QQ Messagingxx
Name=QQ
Name[ca]=QQ
Name[ca@valencia]=QQ
Name[cs]=QQ
Name[de]=QQ
Name[en_GB]=QQ
Name[es]=QQ
Name[fi]=QQ
Name[fr]=QQ
Name[it]=QQ
Name[ko]=QQ
Name[nl]=QQ
Name[pl]=QQ
Name[pt]=QQ
Name[pt_BR]=QQ
Name[ru]=QQ
Name[sk]=QQ
Name[sv]=QQ
Name[uk]=QQ
Name[x-test]=xxQQxx
