[Desktop Entry]
Type=Service
Icon=im-qq
Comment=Tencent QQ Messaging
Comment[ca]=Missatgeria Tencent QQ
Comment[en_GB]=Tencent QQ Messaging
Comment[fr]=Messagerie QQ de Tencent
Comment[nl]=Tencent QQ Messaging
Comment[pt]=Mensagens do Tencent QQ
Comment[sv]=Tencent QQ-meddelandeklient
Comment[uk]=Обмін повідомленнями Tencent QQ
Comment[x-test]=xxTencent QQ Messagingxx
Name=QQ
Name[ca]=QQ
Name[en_GB]=QQ
Name[fr]=QQ
Name[nl]=QQ
Name[pt]=QQ
Name[sk]=QQ
Name[sv]=QQ
Name[uk]=QQ
Name[x-test]=xxQQxx
