[Desktop Entry]
Type=Service
Comment=RocketChat
Comment[bg]=RocketChat
Comment[ca]=RocketChat
Comment[ca@valencia]=RocketChat
Comment[es]=RocketChat
Comment[eu]=RocketChat
Comment[ia]=RocketChat
Comment[it]=RocketChat
Comment[ka]=RocketChat
Comment[nl]=RocketChat
Comment[sl]=RocketChat
Comment[tr]=RocketChat
Comment[uk]=RocketChat
Comment[x-test]=xxRocketChatxx
Name=RocketChat
Name[bg]=RocketChat
Name[ca]=RocketChat
Name[ca@valencia]=RocketChat
Name[es]=RocketChat
Name[eu]=RocketChat
Name[ia]=RocketChat
Name[it]=RocketChat
Name[ka]=RocketChat
Name[nl]=RocketChat
Name[sl]=RocketChat
Name[tr]=RocketChat
Name[uk]=RocketChat
Name[x-test]=xxRocketChatxx
