[Desktop Entry]
Type=Service
Comment=Signal
Comment[bg]=Signal
Comment[ca]=Signal
Comment[ca@valencia]=Signal
Comment[es]=Signal
Comment[eu]=Signal
Comment[ia]=Signal
Comment[it]=Signal
Comment[ka]=Signal
Comment[nl]=Signaal
Comment[sl]=Signal
Comment[tr]=Signal
Comment[uk]=Сигнал
Comment[x-test]=xxSignalxx
Name=Signal
Name[bg]=Signal
Name[ca]=Signal
Name[ca@valencia]=Signal
Name[es]=Signal
Name[eu]=Signal
Name[ia]=Signal
Name[it]=Signal
Name[ka]=Signal
Name[nl]=Signaal
Name[sl]=Signal
Name[tr]=Signal
Name[uk]=Сигнал
Name[x-test]=xxSignalxx
