[Desktop Entry]
Type=Service
Comment=Signal
Comment[ar]=سيجنال
Comment[bg]=Signal
Comment[ca]=Signal
Comment[ca@valencia]=Signal
Comment[de]=Signal
Comment[en_GB]=Signal
Comment[es]=Signal
Comment[eu]=Signal
Comment[fr]=Signal
Comment[ia]=Signal
Comment[it]=Signal
Comment[ka]=Signal
Comment[nl]=Signaal
Comment[pl]=Signal
Comment[pt]=Signal
Comment[pt_BR]=Signal
Comment[sl]=Signal
Comment[tr]=Signal
Comment[uk]=Сигнал
Comment[x-test]=xxSignalxx
Name=Signal
Name[ar]=سيجنال
Name[bg]=Signal
Name[ca]=Signal
Name[ca@valencia]=Signal
Name[de]=Signal
Name[en_GB]=Signal
Name[es]=Signal
Name[eu]=Signal
Name[fr]=Signal
Name[ia]=Signal
Name[it]=Signal
Name[ka]=Signal
Name[nl]=Signaal
Name[pl]=Signal
Name[pt]=Signal
Name[pt_BR]=Signal
Name[sl]=Signal
Name[tr]=Signal
Name[uk]=Сигнал
Name[x-test]=xxSignalxx
