[Desktop Entry]
Type=Service
Icon=internet-telephone
Comment=Session Initiation Protocol
Comment[ca]=Protocol per a la iniciació de la sessió
Comment[ca@valencia]=Protocol per a la iniciació de la sessió
Comment[de]=Session Initiation Protocol
Comment[en_GB]=Session Initiation Protocol
Comment[es]=Protocolo de inicio de sesión
Comment[fi]=Istunnonalustusyhteyskäytäntö
Comment[fr]=Session Initiation Protocol
Comment[it]=Session Initiation Protocol
Comment[ko]=세션 연결 프로토콜(SIP)
Comment[nl]=Session Initiation Protocol
Comment[pl]=Session Initiation Protocol
Comment[pt]=Protocolo de Início de Sessão
Comment[pt_BR]=Protocolo de Iniciação de Sessão
Comment[ru]=Session Initiation Protocol (SIP)
Comment[sk]=Session Initiation Protokol
Comment[sv]=Sessionsinitieringsprotokoll
Comment[uk]=Session Initiation Protocol
Comment[x-test]=xxSession Initiation Protocolxx
Name=SIP
Name[ca]=SIP
Name[ca@valencia]=SIP
Name[de]=SIP
Name[en_GB]=SIP
Name[es]=SIP
Name[fi]=SIP
Name[fr]=SIP
Name[it]=SIP
Name[ko]=SIP
Name[nl]=SIP
Name[pl]=SIP
Name[pt]=SIP
Name[pt_BR]=SIP
Name[ru]=SIP
Name[sk]=SIP
Name[sv]=SIP
Name[uk]=SIP
Name[x-test]=xxSIPxx
