[Desktop Entry]
Type=Service
Icon=internet-telephone
Comment=Session Initiation Protocol
Comment[ca]=Protocol per a la iniciació de la sessió
Comment[ca@valencia]=Protocol per a la iniciació de la sessió
Comment[en_GB]=Session Initiation Protocol
Comment[nl]=Session Initiation Protocol
Comment[pt]=Protocolo de Início de Sessão
Comment[sv]=Sessionsinitieringsprotokoll
Comment[uk]=Session Initiation Protocol
Comment[x-test]=xxSession Initiation Protocolxx
Name=SIP
Name[ca]=SIP
Name[ca@valencia]=SIP
Name[en_GB]=SIP
Name[nl]=SIP
Name[pt]=SIP
Name[sk]=SIP
Name[sv]=SIP
Name[uk]=SIP
Name[x-test]=xxSIPxx
