[Desktop Entry]
Type=Service
Icon=im-slack
Comment=Slack Protocol
Comment[ar]=ميفاق سلاك
Comment[bg]=Протокол на Slack
Comment[ca]=Protocol Slack
Comment[ca@valencia]=Protocol Slack
Comment[es]=Protocolo Slack
Comment[fr]=Protocole pour Slack
Comment[he]=פרוטוקול Slack
Comment[ia]=Protocollo de Slack
Comment[it]=Protocollo di Slack
Comment[ka]=Slack-ის პროტოკოლი
Comment[ko]=Slack 프로토콜
Comment[lt]=Slack protokolas
Comment[nl]=Slack-protocol
Comment[nn]=Slack-protokoll
Comment[pt_BR]=Protocolo do Stack
Comment[ro]=Protocol Slack
Comment[ru]=Протокол Slack
Comment[sk]=Protokol Slack
Comment[sl]=Protokol Slack
Comment[tr]=Slack Protokolü
Comment[uk]=Протокол Slack
Comment[zh_TW]=Slack 通訊協定
Name=Slack
Name[ar]=سلاك
Name[bg]=Slack
Name[ca]=Slack
Name[ca@valencia]=Slack
Name[es]=Slack
Name[fr]=Slack
Name[he]=Slack
Name[ia]=Slack
Name[it]=Slack
Name[ka]=Slack
Name[ko]=Slack
Name[lt]=Slack
Name[nl]=Slack
Name[nn]=Slack
Name[pt_BR]=Slack
Name[ro]=Slack
Name[ru]=Slack
Name[sk]=Slack
Name[sl]=Slack
Name[tr]=Slack
Name[uk]=Slack
Name[zh_TW]=Slack
