[Desktop Entry]
Type=Service
Icon=im-slack
Comment=Slack Protocol
Comment[ca]=Protocol Slack
Comment[es]=Protocolo Slack
Comment[ia]=Protocollo de Slack
Comment[ka]=Slack-ის პროტოკოლი
Comment[nl]=Slack-protocol
Comment[pt_BR]=Protocolo do Stack
Comment[sl]=Protokol Slack
Comment[uk]=Протокол Slack
Comment[zh_TW]=Slack 通訊協定
Name=Slack
Name[ca]=Slack
Name[es]=Slack
Name[ia]=Slack
Name[ka]=Slack
Name[nl]=Slack
Name[pt_BR]=Slack
Name[sl]=Slack
Name[uk]=Slack
Name[zh_TW]=Slack
