[Desktop Entry]
Type=Service
Icon=im-slack
Comment=Slack Protocol
Comment[ca]=Protocol Slack
Comment[ca@valencia]=Protocol Slack
Comment[es]=Protocolo Slack
Comment[fr]=Protocole pour Slack
Comment[he]=פרוטוקול Slack
Comment[ia]=Protocollo de Slack
Comment[ka]=Slack-ის პროტოკოლი
Comment[nl]=Slack-protocol
Comment[pt_BR]=Protocolo do Stack
Comment[sk]=Protokol Slack
Comment[sl]=Protokol Slack
Comment[tr]=Slack Protokolü
Comment[uk]=Протокол Slack
Comment[zh_TW]=Slack 通訊協定
Name=Slack
Name[ca]=Slack
Name[ca@valencia]=Slack
Name[es]=Slack
Name[fr]=Slack
Name[he]=Slack
Name[ia]=Slack
Name[ka]=Slack
Name[nl]=Slack
Name[pt_BR]=Slack
Name[sk]=Slack
Name[sl]=Slack
Name[tr]=Slack
Name[uk]=Slack
Name[zh_TW]=Slack
