[Desktop Entry]
Type=Service
Icon=im-sms
Comment=SMS Protocol
Comment[ca]=Protocol SMS
Comment[ca@valencia]=Protocol SMS
Comment[cs]=SMS protokol
Comment[en_GB]=SMS Protocol
Comment[fi]=Tekstiviestiyhteyskäytäntö
Comment[fr]=Protocole SMS
Comment[it]=Protocollo SMS
Comment[ko]=SMS 프로토콜
Comment[nb]=SMS Protokoll
Comment[nl]=SMS-protocol
Comment[nn]=SMS-protokoll
Comment[pt]=Protocolo SMS
Comment[sv]=SMS-protokoll
Comment[uk]=Протокол SMS
Comment[x-test]=xxSMS Protocolxx
Name=SMS
Name[ca]=SMS
Name[ca@valencia]=SMS
Name[cs]=SMS
Name[en_GB]=SMS
Name[fi]=Tekstiviesti
Name[fr]=SMS
Name[it]=SMS
Name[ko]=SMS
Name[nb]=SMS
Name[nl]=SMS
Name[nn]=SMS
Name[pt]=SMS
Name[sk]=SMS
Name[sv]=SMS
Name[uk]=SMS
Name[x-test]=xxSMSxx
