[Desktop Entry]
Type=Service
Icon=im-teams
Comment=Microsoft Teams Protocol
Comment[ca]=Protocol Microsoft Teams
Comment[ca@valencia]=Protocol Microsoft Teams
Comment[es]=Protocolo Microsoft Teams
Comment[fr]=Protocole pour Microsoft Teams
Comment[he]=פרוטוקול Microsoft Teams
Comment[ia]=Protocollo de Microsoft Teams 
Comment[it]=Protocollo di Microsoft Teams
Comment[ka]=Microsoft Teams-ის პროტოკოლი
Comment[lt]=Microsoft Teams protokolas
Comment[nl]=Microsoft Teams-protocol
Comment[nn]=Microsoft Teams-protokoll
Comment[pt_BR]=Protocolo do Microsoft Teams
Comment[sk]=Protokol Microsoft Teams
Comment[sl]=Protokol Microsoft Teams
Comment[tr]=Microsoft Teams Protokolü
Comment[uk]=Протокол Microsoft Teams
Comment[zh_TW]=Microsoft Teams 通訊協定
Name=Microsoft Teams
Name[ca]=Microsoft Teams
Name[ca@valencia]=Microsoft Teams
Name[es]=Microsoft Teams
Name[fr]=Microsoft Teams
Name[he]=Microsoft Teams
Name[ia]=Microsoft Teams
Name[it]=Microsoft Teams
Name[ka]=Microsoft Teams
Name[lt]=Microsoft Teams
Name[nl]=Microsoft Teams
Name[nn]=Microsoft Teams
Name[pt_BR]=Microsoft Teams
Name[sk]=Microsoft Teams
Name[sl]=Microsoft Teams
Name[tr]=Microsoft Teams
Name[uk]=Microsoft Teams
Name[zh_TW]=Microsoft Teams
