[Desktop Entry]
Type=Service
Comment=Telegram
Comment[ca]=Telegram
Comment[ca@valencia]=Telegram
Comment[es]=Telegram
Comment[ia]=Telegram
Comment[nl]=Telegram
Comment[sv]=Telegram
Comment[tr]=Telegram
Comment[uk]=Telegram
Comment[x-test]=xxTelegramxx
Name=Telegram
Name[ca]=Telegram
Name[ca@valencia]=Telegram
Name[es]=Telegram
Name[ia]=Telegram
Name[nl]=Telegram
Name[sv]=Telegram
Name[tr]=Telegram
Name[uk]=Telegram
Name[x-test]=xxTelegramxx
