[Desktop Entry]
Type=Service
Comment=Telegram
Comment[ar]=تلغرام
Comment[az]=Teleqram
Comment[bg]=Telegram
Comment[ca]=Telegram
Comment[ca@valencia]=Telegram
Comment[cs]=Telegram
Comment[de]=Telegram
Comment[en_GB]=Telegram
Comment[es]=Telegram
Comment[fi]=Telegram
Comment[fr]=Telegram
Comment[ia]=Telegram
Comment[it]=Telegram
Comment[ko]=텔레그램
Comment[nl]=Telegram
Comment[nn]=Telegram
Comment[pl]=Telegram
Comment[pt]=Telegram
Comment[pt_BR]=Telegram
Comment[ro]=Telegram
Comment[sk]=Telegram
Comment[sl]=Telegram
Comment[sv]=Telegram
Comment[tr]=Telegram
Comment[uk]=Telegram
Comment[x-test]=xxTelegramxx
Comment[zh_CN]=Telegram
Name=Telegram
Name[ar]=تلغرام
Name[az]=Teleqram
Name[bg]=Telegram
Name[ca]=Telegram
Name[ca@valencia]=Telegram
Name[cs]=Telegram
Name[de]=Telegram
Name[en_GB]=Telegram
Name[es]=Telegram
Name[fi]=Telegram
Name[fr]=Telegram
Name[ia]=Telegram
Name[it]=Telegram
Name[ko]=텔레그램
Name[nl]=Telegram
Name[nn]=Telegram
Name[pl]=Telegram
Name[pt]=Telegram
Name[pt_BR]=Telegram
Name[ro]=Telegram
Name[sk]=Telegram
Name[sl]=Telegram
Name[sv]=Telegram
Name[tr]=Telegram
Name[uk]=Telegram
Name[x-test]=xxTelegramxx
Name[zh_CN]=Telegram
