[Desktop Entry]
Type=Service
Comment=Threema
Comment[bg]=Threema
Comment[ca]=Threema
Comment[es]=Threema
Comment[eu]=Threema
Comment[it]=Threema
Comment[nl]=Threema
Comment[sl]=Threema
Comment[tr]=Threema
Comment[uk]=Threema
Comment[x-test]=xxThreemaxx
Name=Threema
Name[bg]=Threema
Name[ca]=Threema
Name[es]=Threema
Name[eu]=Threema
Name[it]=Threema
Name[nl]=Threema
Name[sl]=Threema
Name[tr]=Threema
Name[uk]=Threema
Name[x-test]=xxThreemaxx
