[Desktop Entry]
Type=Service
Comment=Threema
Comment[ar]=ثریما
Comment[bg]=Threema
Comment[ca]=Threema
Comment[ca@valencia]=Threema
Comment[es]=Threema
Comment[eu]=Threema
Comment[fr]=Threema
Comment[ia]=Threema
Comment[it]=Threema
Comment[ka]=Threema
Comment[nl]=Threema
Comment[pt]=Threema
Comment[pt_BR]=Threema
Comment[sl]=Threema
Comment[tr]=Threema
Comment[uk]=Threema
Comment[x-test]=xxThreemaxx
Name=Threema
Name[ar]=ثریما
Name[bg]=Threema
Name[ca]=Threema
Name[ca@valencia]=Threema
Name[es]=Threema
Name[eu]=Threema
Name[fr]=Threema
Name[ia]=Threema
Name[it]=Threema
Name[ka]=Threema
Name[nl]=Threema
Name[pt]=Threema
Name[pt_BR]=Threema
Name[sl]=Threema
Name[tr]=Threema
Name[uk]=Threema
Name[x-test]=xxThreemaxx
