[Desktop Entry]
Type=Service
Icon=im-twitter
Comment=Twitter Protocol
Comment[ca]=Protocol Twitter
Comment[ca@valencia]=Protocol Twitter
Comment[cs]=Protokol Twitter
Comment[en_GB]=Twitter Protocol
Comment[fi]=Twitter-yhteyskäytäntö
Comment[fr]=Protocole Twitter
Comment[it]=Protocollo di Twitter
Comment[ko]=트위터 프로토콜
Comment[nl]=Twitter-protocol
Comment[pt]=Protocolo do Twitter
Comment[sv]=Twitter-protokoll
Comment[uk]=Протокол Twitter
Comment[x-test]=xxTwitter Protocolxx
Name=Twitter
Name[ca]=Twitter
Name[ca@valencia]=Twitter
Name[cs]=Twitter
Name[en_GB]=Twitter
Name[fi]=Twitter
Name[fr]=Twitter
Name[it]=Twitter
Name[ko]=트위터
Name[nb]=Twitter
Name[nl]=Twitter
Name[nn]=Twitter
Name[pt]=Twitter
Name[sk]=Twitter
Name[sv]=Twitter
Name[uk]=Twitter
Name[x-test]=xxTwitterxx
