[Desktop Entry]
Type=Service
Icon=im-whatsapp
Comment=WhatsApp Protocol
Comment[ca]=Protocol WhatsApp
Comment[es]=Protocolo WhatsApp
Comment[ia]=Protocollo de WhatsApp
Comment[ka]=WhatsApp-ის პროტოკოლი
Comment[nl]=WhatsApp-protocol
Comment[pt_BR]=Protocolo do WhatsApp
Comment[sl]=Protokol WhatsApp
Comment[uk]=Протокол WhatsApp
Comment[zh_TW]=WhatsApp 通訊協定
Name=WhatsApp
Name[ca]=WhatsApp
Name[es]=WhatsApp
Name[ia]=WhatsApp
Name[ka]=WhatsApp
Name[nl]=WhatsApp
Name[pt_BR]=WhatsApp
Name[sl]=WhatsApp
Name[uk]=WhatsApp
Name[zh_TW]=WhatsApp
