[Desktop Entry]
Type=Service
Icon=im-whatsapp
Comment=WhatsApp Protocol
Comment[ar]=ميفاق واتساب
Comment[bg]=Протокол на WhatsApp
Comment[ca]=Protocol WhatsApp
Comment[ca@valencia]=Protocol WhatsApp
Comment[es]=Protocolo WhatsApp
Comment[fr]=Protocole pour WhatsApp
Comment[he]=פרוטוקול WhatsApp
Comment[hu]=WhatsApp protokoll
Comment[ia]=Protocollo de WhatsApp
Comment[it]=Protocollo di WhatsApp
Comment[ka]=WhatsApp-ის პროტოკოლი
Comment[ko]=WhatsApp 프로토콜
Comment[lt]=WhatsApp protokolas
Comment[nl]=WhatsApp-protocol
Comment[nn]=WhatsApp-protokoll
Comment[pt_BR]=Protocolo do WhatsApp
Comment[ro]=Protocol WhatsApp
Comment[ru]=Протокол WhatsApp
Comment[sk]=Protokol WhatsApp
Comment[sl]=Protokol WhatsApp
Comment[tr]=WhatsApp Protokolü
Comment[ug]=WhatsApp كېلىشىمى
Comment[uk]=Протокол WhatsApp
Comment[zh_TW]=WhatsApp 通訊協定
Name=WhatsApp
Name[ar]=واتساب
Name[bg]=WhatsApp
Name[ca]=WhatsApp
Name[ca@valencia]=WhatsApp
Name[es]=WhatsApp
Name[fr]=WhatsApp
Name[he]=WhatsApp
Name[hu]=WhatsApp
Name[ia]=WhatsApp
Name[it]=WhatsApp
Name[ka]=WhatsApp
Name[ko]=WhatsApp
Name[lt]=WhatsApp
Name[nl]=WhatsApp
Name[nn]=WhatsApp
Name[pt_BR]=WhatsApp
Name[ro]=WhatsApp
Name[ru]=WhatsApp
Name[sk]=WhatsApp
Name[sl]=WhatsApp
Name[tr]=WhatsApp
Name[ug]=WhatsApp
Name[uk]=WhatsApp
Name[zh_TW]=WhatsApp
