[Desktop Entry]
Type=Service
Icon=im-jabber
Comment=Jabber Protocol
Comment[ca]=Protocol Jabber
Comment[ca@valencia]=Protocol Jabber
Comment[en_GB]=Jabber Protocol
Comment[fi]=Jabber-yhteyskäytäntö
Comment[fr]=Protocole Jabber
Comment[nb]=Jabber-protokoll
Comment[nl]=Jabber-protocol
Comment[nn]=Jabber-protokoll
Comment[pt]=Protocolo Jabber
Comment[sv]=Jabber-protokoll
Comment[uk]=Протокол Jabber
Comment[x-test]=xxJabber Protocolxx
Name=Jabber
Name[ca]=Jabber
Name[ca@valencia]=Jabber
Name[en_GB]=Jabber
Name[fi]=Jabber
Name[fr]=Jabber
Name[nb]=Jabber
Name[nl]=Jabber
Name[nn]=Jabber
Name[pt]=Jabber
Name[sk]=Jabber
Name[sv]=Jabber
Name[uk]=Jabber
Name[x-test]=xxJabberxx
