[Desktop Entry]
Type=Service
Icon=im-jabber
Comment=Jabber Protocol
Comment[ca]=Protocol Jabber
Comment[ca@valencia]=Protocol Jabber
Comment[cs]=Protokol Jabber
Comment[de]=Jabber-Protokoll
Comment[en_GB]=Jabber Protocol
Comment[es]=Protocolo Jabber
Comment[fi]=Jabber-yhteyskäytäntö
Comment[fr]=Protocole Jabber
Comment[it]=Protocollo Jabber
Comment[ko]=Jabber 프로토콜
Comment[nb]=Jabber-protokoll
Comment[nl]=Jabber-protocol
Comment[nn]=Jabber-protokoll
Comment[pl]=Protokół Jabber
Comment[pt]=Protocolo Jabber
Comment[pt_BR]=Protocolo do Jabber
Comment[sv]=Jabber-protokoll
Comment[uk]=Протокол Jabber
Comment[x-test]=xxJabber Protocolxx
Name=Jabber
Name[ca]=Jabber
Name[ca@valencia]=Jabber
Name[cs]=Jabber
Name[de]=Jabber
Name[en_GB]=Jabber
Name[es]=Jabber
Name[fi]=Jabber
Name[fr]=Jabber
Name[it]=Jabber
Name[ko]=Jabber
Name[nb]=Jabber
Name[nl]=Jabber
Name[nn]=Jabber
Name[pl]=Jabber
Name[pt]=Jabber
Name[pt_BR]=Jabber
Name[sk]=Jabber
Name[sv]=Jabber
Name[uk]=Jabber
Name[x-test]=xxJabberxx
