[Desktop Entry]
Type=Service
Icon=im-yahoo
Comment=Yahoo Protocol
Comment[ca]=Protocol Yahoo
Comment[ca@valencia]=Protocol Yahoo
Comment[cs]=Protokol Yahoo
Comment[en_GB]=Yahoo Protocol
Comment[es]=Protocolo Yahoo
Comment[fi]=Yahoo-yhteyskäytäntö
Comment[fr]=Protocole Yahoo
Comment[it]=Protocollo di Yahoo
Comment[ko]=Yahoo 프로토콜
Comment[nb]=Yahoo-protokoll
Comment[nl]=Yahoo-protocol
Comment[nn]=Yahoo!-protokoll
Comment[pt]=Protocolo Yahoo
Comment[sv]=Yahoo-protokoll
Comment[uk]=Протокол Yahoo
Comment[x-test]=xxYahoo Protocolxx
Name=Yahoo
Name[ca]=Yahoo
Name[ca@valencia]=Yahoo
Name[cs]=Yahoo
Name[en_GB]=Yahoo
Name[es]=Yahoo
Name[fi]=Yahoo
Name[fr]=Yahoo
Name[it]=Yahoo
Name[ko]=Yahoo
Name[nb]=Yahoo
Name[nl]=Yahoo
Name[nn]=Yahoo
Name[pt]=Yahoo
Name[sk]=Yahoo
Name[sv]=Yahoo
Name[uk]=Yahoo
Name[x-test]=xxYahooxx
