[Desktop Entry]
Type=Service
Icon=im-yahoo
Comment=Yahoo Protocol
Comment[ca]=Protocol Yahoo
Comment[nl]=Yahoo-protocol
Comment[pt]=Protocolo Yahoo
Comment[sv]=Yahoo-protokoll
Comment[uk]=Протокол Yahoo
Comment[x-test]=xxYahoo Protocolxx
Name=Yahoo
Name[ca]=Yahoo
Name[nl]=Yahoo
Name[pt]=Yahoo
Name[sv]=Yahoo
Name[uk]=Yahoo
Name[x-test]=xxYahooxx
