# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Name=kab2kabc
Exec=kab2kabc --disable-autostart --quiet
Icon=misc
Type=Application
Comment=libkab to libkabc conversion tool.
Comment[el]=Εργαλείο μετατροπής libkab σε libkabc.
Terminal=false
NoDisplay=true
X-KDE-autostart-condition=kab2kabcrc:Startup:EnableAutostart:true
OnlyShowIn=KDE;
