# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Name=Contacts
Name[be]=Кантакты
Name[ca]=Contactes
Name[cs]=Kontakty
Name[de]=Kontakte
Name[el]=Επαφές
Name[es]=Contactos
Name[ga]=Teagmhálacha
Name[hu]=Partnerek
Name[ja]=コンタクト
Name[lt]=Kontaktai
Name[nds]=Kontakten
Name[nl]=Contactpersonen
Name[pa]=ਸੰਪਰਕ
Name[pt]=Contactos
Name[sv]=Kontakter
Name[uk]=Контакти
Name[x-test]=xxContactsxx
Name[zh_CN]=联系人
Name[zh_TW]=聯絡人
Type=Service
ServiceTypes=KResources/Manager

X-KDE-ResourceFamily=contact
