# KDE Config File
[Desktop Entry]
Name=Contacts
Name[be]=Кантакты
Name[ca]=Contactes
Name[ca@valencia]=Contactes
Name[cs]=Kontakty
Name[da]=Kontakter
Name[de]=Kontakte
Name[el]=Επαφές
Name[en_GB]=Contacts
Name[eo]=Kontaktoj
Name[es]=Contactos
Name[et]=Kontaktid
Name[fi]=Yhteystiedot
Name[fr]=Contacts
Name[ga]=Teagmhálacha
Name[gl]=Contactos
Name[hne]=सम्पर्क
Name[hu]=Névjegyek
Name[it]=Contatti
Name[ja]=連絡先
Name[km]=ទំនាក់ទំនង​
Name[lt]=Kontaktai
Name[lv]=Kontakti
Name[nb]=Kontakter
Name[nds]=Kontakten
Name[nl]=Contactpersonen
Name[nn]=Kontaktar
Name[oc]=Contactes
Name[pa]=ਸੰਪਰਕ
Name[pl]=Kontakty
Name[pt]=Contactos
Name[pt_BR]=Contatos
Name[ro]=Contacte
Name[ru]=Контакты
Name[se]=Oktavuođat
Name[sk]=Kontakty
Name[sl]=Stiki
Name[sr]=Контакти
Name[sr@ijekavian]=Контакти
Name[sr@ijekavianlatin]=Kontakti
Name[sr@latin]=Kontakti
Name[sv]=Kontakter
Name[th]=ที่อยู่ติดต่อ
Name[tr]=Kişiler
Name[uk]=Контакти
Name[x-test]=xxContactsxx
Name[zh_CN]=联系人
Name[zh_TW]=聯絡人
Type=Service
X-KDE-ServiceTypes=KResources/Manager
X-KDE-ResourceFamily=contact
